<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Items</title>
    </head>
    <body>
        <span th:replace="menu"></span>
        
        <hr>
        
        <table  border="1">
        <tr>
            <th>NO</th><th>商品名</th><th>値段</th><th></th>
        </tr>
        <tr th:each="item:${items}">
            <td th:text="${item.code}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td><a th:href="'/cart/add/' +${item.code}">カートに追加</a></td>
            
            </tr>
         </table>
         
         <hr>
         
         <span th:replace="logout"></span>
         </body>
         </html>